<section class="form-auth text-center pt-5">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1 class="h3 mb-3 fw-normal pt-5">Please Login</h1>
        <%= f.text_field :login, class: "form-control", placeholder: "Phone Number", value: "+380", maxlength: 13 %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control",  placeholder: "Password" %>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
  <% end %>
</section>
