<div class="container my-2 border-bottom">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills custom-doc">
        <li class="nav-item"><a href="/" class="btn btn-danger me-2">Home</a></li>
        <li class="nav-item"><%= link_to "Profile", doctor_profile_path(current_doctor), class: "btn btn-outline-danger me-2" %></li>
        <li class="nav-item"><%= button_to "Log out", destroy_doctor_session_path, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class: "btn btn-outline-danger me-2" %></li>
      </ul>
    </header>
  </div>
