<section class="form-auth text-center p-md-5 mt-5 border rounded-3 bg-light">
  <h4>Your Appointment</h4>
  <p> We waiting you at <%= appointment.date %></p>
  <%= button_to "Cancel", @appointment, method: :delete, class: "w-100 btn btn-lg btn-danger" %>
</section>
